.attraction-detail-resume {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: calc(100% - 400px);
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: $font-body;

  .attraction-detail-info {
    box-sizing: border-box;
    padding: 20px;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;

    #attraction-detail-header {
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .review-exist {
    box-sizing: border-box;
    padding: 20px;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }

  .add-review {
    box-sizing: border-box;
    padding: 20px;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .add-review-header {
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
      text-align: left;
    }

    .add-review-form {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      height: 90%;

      div {
        align-self: flex-start;
      }

      textarea {
        box-sizing: border-box;
        resize: none;
        padding: 10px;
        margin-top: 10px;
        width: 100%;
        height: 70%;
        min-height: 136px;
        line-height: 1.5;
        font-size: 14px;
      }

      button {
        color: white;
        align-self: flex-end;
        font-size: 14px;
        padding: 8px 25px;
        border: 0;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        text-transform: uppercase;
        background-color: $orange;
        border-color: $orange;
        transition: background .3s;
      }

      button:hover {
        background: rgba(244, 69, 4,.65);
        outline: 1px solid transparent;
      }
    }
  }

  .review-index {
    box-sizing: border-box;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .review-show-info {
      align-self: flex-start;
      margin-left: 30px;
      margin-right: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-style: $font-body;
      overflow: auto;

      .review-title {
        font-size: 18px;
        text-overflow: ellipsis;
        font-weight: bold;
        line-height: 17px;
        text-transform: capitalize;
        margin-bottom: 5px;
      }

      .review-subtitle {
        color: rgba(0, 0, 0, 0.54);
        text-overflow: ellipsis;
        line-height: 17px;
        margin-bottom: 10px;
      }

      .review-text {

        line-height: 1.5;
        text-overflow: ellipsis;

        div {
          display: inline-flex;
          margin-right: 10px;
        }
      }
    }

    i {
      position: absolute;
      background-color: transparent;
      font-size: 50px;
      color: transparent;
      transition: color .3s;

      // Avoid selection
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
    }

    i:hover {
      color: rgba(0,0,0,.75);
      cursor: pointer;
    }

    .prev-button {
      left: 0;
    }

    .next-button {
      right: 0;
    }
  }

  .review-index:hover i {
    color: rgba(0,0,0,.75);
  }
}
