.attraction-detail-resume {
  display: flex;
  padding: 20px;
  flex-direction: row;
  box-sizing: border-box;

  .attraction-detail-info {
    width: 33.3333%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: $font-body;

    #attraction-detail-header {
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .add-review {
    width: 33.3333%;
    height: 100%;
  }

  .show-reviews {
    width: 33.3333%;
    height: 100%;
  }
}
