.attraction-sidebar {
  width: 400px;
  height: 85%;
  display: flex;
  position: absolute;
  left: 0px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: $light-gray;
  overflow: visible;
  border-radius: 3px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  flex-direction: column;

  .attraction-list {
    height: 100%;
    width: 100%;
    overflow: scroll;

    .attraction-item {
      width: 100%;
      border-bottom: 1px solid $teal;
      padding: 10px 18px 10px 24px;
      text-align: left;
      box-sizing: border-box;
      min-height: 112px;
      display: flex;
      white-space: normal;
      justify-content: space-between;

      .attraction-info {
        display: flex;
        flex-direction: column;

        .attraction-item-title {
          font-size: 15px;
          line-height: 16px;
          font-family: $font-body;
        }
      }

      .attraction-photo {
        height: 92px;
        width: 92px;

        img {
          width: 100%;
          height: 100%;
          background-size: contain;
        }
      }


    }

  }

}
