.attraction-detail-resume {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: calc(100% - 400px);
  flex-wrap: wrap;
  justify-content: space-around;

  .attraction-detail-info {
    box-sizing: border-box;
    padding: 20px;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: $font-body;

    #attraction-detail-header {
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .add-review {
    box-sizing: border-box;
    padding: 20px;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
  }

  .show-reviews {
    box-sizing: border-box;
    width: 33.3333%;
    min-width: 270px;
    height: 100%;
    padding: 20px;
  }
}
