.attraction-sidebar {
  width: 400px;
  height: 85%;
  display: flex;
  position: absolute;
  left: 0px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  overflow: visible;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  flex-direction: column;
  font-family: $font-subheader;
  font-size: 15px;

  .attraction-index-header {
    width: 100%;
    height: 40px;
    background-color: $dark-teal;
    border-radius: 10px 10px 0px 0px;
  }

  .attraction-index-footer {
    width: 100%;
    height: 55px;
    bottom: 0;
    position: absolute;
    background-color: $dark-teal;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      margin-right: 10px;
      font-size: 36px;
      color: white;
    }

    i:hover {
      cursor: pointer;
    }
  }

  .attraction-list {
    height: calc(100% - 95px);
    width: 100%;
    overflow: scroll;

    .no-attractions {
      text-align: center;

      .no-attractions-message {
        padding: 10px 18px 10px 24px;
        font-size: 16px;
        line-height: 1.5;
        font-family: $font-body;
        text-align: left;
      }

      .no-attractions-icon {
        font-size: 200px;
        line-height: 2;
        color: $rose;
      }
    }

    .attraction-item {
      width: 100%;
      border-bottom: 2px solid $teal;
      padding: 10px 18px 10px 24px;
      text-align: left;
      box-sizing: border-box;
      min-height: 112px;
      display: flex;
      white-space: normal;
      justify-content: space-between;
      transition: background-color .3s;

      .attraction-info {
        display: flex;
        flex-direction: column;

        .attraction-item-title {
          line-height: 16px;
          font-weight: bold;
          display: flex;
          align-items: center;

          i:hover {
            color: $teal;
          }

          .bookmarked {
            color: $teal;
          }
        }

        .attraction-item-rating {
          display: flex;
          flex-direction: row;
          align-items: center;

          > span {
            margin-right: 2px;
            color: $orange;
          }
        }

        span {
          padding: 2px;
        }
      }

      .attraction-photo {
        height: 92px;
        width: 92px;

        img {
          width: 100%;
          height: 100%;
          background-size: contain;
        }
      }

      .attraction-item-tags {
        display: flex;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;

        li {
          padding: 4px 8px;
          margin-top: 5px;
          margin-right: 10px;
          background-color: $light-gray;
          color: $teal;
          border-radius: 5px;
          font-size: 13px;
          transition: background .3s;
          cursor: default;
          font-weight: bold;
        }
      }
    }

    .attraction-item:hover {
      background-color: $light-gray;
      cursor: pointer;

      li {
        color: $light-gray;
        background-color: $teal;
      }
    }

  }

}
