#header {
  width: 100%;
  height: 56px;
  background-color: $dark-teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: background .15s;
  transition: background .15s;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,.28);
  font-size: 18px;

  #right-header {
    margin-right: 30px;

    * {
      margin-left: 30px;
      font-family: $font-subheader;
      text-decoration: none;
      font-size: 81.25%;
      color: $light-gray;
    }

    #bookmarks:hover {
      cursor: pointer;
    }

    #logout:hover {
      cursor: pointer;
    }
  }


  #logo {
    margin-left: 30px;
    font-family: 'Helvetica Neue';
    color: $light-gray;
  }

  #logo:hover {
    cursor: pointer;
  }
}
