.photo-gallery {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


  .image-container {
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
  }



  i {
    position: absolute;
    background-color: transparent;
    font-size: 86px;
    color: transparent;
    // color: rgba(255,255,255,.75);
    transition: color .3s;

    // Avoid selection
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }

  i:hover {
    cursor: pointer;
  }

  .prev-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }
}

.photo-gallery:hover i{
  color: rgba(255,255,255,.75);
}
