#search-bar {
  display: block;
  text-align: left;
  box-sizing: border-box;
  position: relative;

  #search-input {
    padding: 8px 100px 8px 50px;
    font-family: $font-body;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #007F8F;
    transition: background-color .3s;
  }

  #search-input:hover {
    background-color: #0091A3;
  }

  #search-input::-webkit-input-placeholder {
    color: $light-gray;
  }

  i {
    position: absolute;
    top: 4px;
    left: 13px;
    color: $light-gray;
  }

}
