#session-form {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
  color: $gray;
  right: 0%;
  top: 30%;
  width: 290px;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  border-radius: 5%;
  padding: 20px 10px;
  margin-right: 10%;
  font-family: $font-subheader;

  * {
    // display: inline-block;
    font-size: 16px;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: $font-header;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h4 {
    font-size: 14px;
    color: $gray;
    margin-top: 10px;

    a {
      color: $gray;
      font-size: 14px;
    }
  }

  ul {
    font-size: 12px;
    color: $teal;
  }

  input[type="text"], input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid $gray;
    color: $gray;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }

  button {
    color: $gray;
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: $orange;
    border-color: $orange;
  }



}
