$dark-teal: #006875;
$teal: #00A3A7;
$orange: #F44504;
$rose: #F1C6B1;
$gray: #C6D0D8;
$light-gray: #DCE7F0;
$dark-red: #8D2620;

$font-header: 'Roboto Mono', monospace;
$font-subheader: 'Arial', sans-serif;
